node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

.idea/
*.iws
*.iml
*.ipr
out/

.DS_Store
.AppleDouble
.LSOverride

.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
